.label_container {
  display: flex;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  align-items: center;
}

.label_s {
  height: 16px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 3px;
  .label_icon {
    width: 8px;
    height: 8px;
  }
}

.label_m {
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  .label_icon {
    width: 12px;
    height: 12px;
  }
}
